#changePassTarget {
  height: 54px;
}

.country-flag {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
}

.currencyBalance .btn {
  margin-right: 3px;
}
.currencyBalance .btn :last-child {
  margin: 0;
}

.dashboard-container {
  .custom-control-label::before,
  .custom-control-label::after {
    top: -1rem;
  }
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  color: #fff;
  background-color: #d62303;
}

.balance_currency {
  margin-left: 5px;
}
