#accountNavbarDropdown {
  padding: 1rem 0;
  .custom-dropdown-divider {
    border-top: 1px solid #e7eaf3;
  }
.business-accounts-list {
  margin-top: -8px;
  max-height: 250px;
  overflow: auto;
  
  .businessLNK {
    margin: 0;
    background: #ffffff;

    &.active {
      background: #f7f7f7;
    }
  }
}
}
