.tabsitem {
  margin-left: 5px;
}

.avatarCircle {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  cursor: none;
}

.initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-weight: bold;
}