$large: 1199px;

.header-logo {
  min-width: 7rem;
  max-width: 7rem;
}

@media screen and (max-width: 1199px) {
  .toggle-invoker {
    display: none !important;
  }
  .mobile-toggle-invoker {
    display: inline;
  }
}
@media screen and (min-width: $large) {
  .toggle-invoker {
    display: inline;
  }
  .mobile-toggle-invoker {
    display: none !important;
  }
}
