.spinner-loader {
  background: rgba(255, 255, 255, 0.95);
  display: flex !important;
  align-items: center;
  justify-content: center;

  img {
    width: 200px;
  }

  .k-i-loading::before,
  .k-i-loading::after,
  .k-loading-image::before,
  .k-loading-image::after {
    border-color: #f00;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}
