.loader-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  z-index: 999;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

  .loader-img {
    width: 150px;
    height: auto;
  }

  &.show-loader {
    visibility: visible;
    opacity: 1;
  }
}
