.form-control.is-invalid-input,
.was-validated .form-control:invalid {
  border-color: #ed4c78;
}

.is-invalid-input ~ .invalid-feedback,
.is-invalid-input ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}

.input-group-merge .input-group-text {
  z-index: 0 !important;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #ed4c78;
}

.custom-memberBlock {
  background: #f7f7f7;
  padding: 15px 15px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
.custom-memberBlock .input-group-add-field-delete {
  right: -15px;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
  background-color: #f76c53;
  border-color: #f76449;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
