.step-card-pay {
  display: none;

  &.active {
    display: block;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 10.5s;
  }
}
.business-registration {
  .custom-checkbox {
    float: left;
    padding-top: 10px;
  }
}

button:disabled {
  cursor: not-allowed;
}

#stepAmount {
  .custom-form-conntrol {
    border-radius: 0px 8px 8px 0px !important;
  }
}

.rate-refresh {
  padding: 10px 0;
  text-align: center;

  .rate-refresh-time {
    color: #f00;
  }
}

.no-list {
  border: 1px solid #eee;
  color: #666;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  border-radius: 5px !important;
}
